h1{
    background-color: black;
    color: white;
    padding-left: 12px;
    font-size: 25px;
}
.buttonnav{
    background-color: #2b9f3f;
}
body{
    margin: 8px;
}

.verde {
    background-color: #2b9f3f;

}

.roxo {
    background-color: #712788;

}